.timeline {
    background: #F0F0F0;
    padding: 50px;

    &-title{
        text-align: center;
        color: #0357FF;
        margin-bottom: 50px;
    }

    &-content {
        padding-inline: 100px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            
        }

        &-item {
            display: grid;
            grid-template-rows: 200px 50px 200px;
        
            @media (max-width: 768px) {
                grid-template-rows: auto;
                grid-template-columns: 1fr 50px 1fr;
                
            }
            
        
            &:nth-child(odd) {
        
                .number {
                    color: #0357FF;
        
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 70px;
                        background-color: #0357FF;
                        bottom: -80px;
                        left: 50%;
                        transform: translateX(-50%);
        
                        @media screen and (max-width: 768px) {
                            width: 70px;
                            height: 2px;
                            top: 50%;
                            left: 70px;
                            transform: translateY(-50%);
                        }
                    }
                }
                
                .cursor {
                    background-color: #0357FF;
                    height: 100%;
                }

                .content h3{
                    color: #0357FF;
                }
            }
        
            &:nth-child(even) {
        
                .number {
                    order: 3;
                    align-self: flex-end;
                    color: #ffffff;
                    background-color: #A4C3FF;
        
                    @media screen and (max-width: 768px) {
                        align-self: center;
                        justify-self: flex-end;
                    }
        
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 70px;
                        background-color: inherit;
                        top: -80px;
                        left: 50%;
                        transform: translateX(-50%);
        
                        @media screen and (max-width: 768px) {
                            width: 70px;
                            height: 2px;
                            top: 50%;
                            left: -80px;
                            transform: translateY(-50%);
                        }
                    }
                }
        
                .cursor {
                    background-color: #A4C3FF;
                    height: 100%;
                    order: 2;
                }

                .content h3{
                    color: #A4C3FF;
                }
               
            }
        
            &:first-child .cursor {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
        
                @media screen and (max-width: 768px) {
                    border-radius: 20px 20px 0 0;
                }
            }
        
            &:last-child .cursor {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
        
                @media screen and (max-width: 768px) {
                    border-radius: 0 0 20px 20px;
                }
            }
        
            .number {
                justify-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                width: 96px;
                height: 96px;
                border: 2px solid currentColor;
                font-size: 48px;
                font-weight: bold;
                position: relative;
        
                @media screen and (max-width: 768px) {
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                    align-self: center;
                    justify-self: flex-start;
                }
            }

            .content {
                display: flex;
                flex-direction: column; 
                justify-content: center;
                
                & h3 {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
            }
        
        
            p {
                width: 80%;
                margin: 0 auto;
            }
        
        }
    }
    
    
}



